.wrapper {
	@apply p-5;
	.order {
		@apply air-block  text-black p-5 flex flex-col items-start gap-4 justify-center;
		width: 100%;
		background: #b6b7d0;
		h1 {
			@apply text-2xl text-black;
		}
		.description {
			@apply mt-2 text-lg;
		}
		.bottom {
			@apply flex items-center justify-between;
			width: 100%;

			> div {
				@apply flex items-center gap-2;
			}
		}
		.created {
		}
	}
}
