.user {
	.menu {
		@apply flex;
		li {
			width: 200px;
			list-style: none;

			position: relative;
			cursor: pointer;

			text-align: right;
			margin-right: 20px;
			&:hover {
				ul {
					display: block;
					transition: all 0.5s ease-in-out;
					@apply flex flex-col  justify-center;
				}
			}
			.profile {
				@apply flex items-center justify-end gap-2;

				> svg {
					@apply text-3xl text-white;
				}
				> div {
					@apply text-white;
				}
			}
		}

		ul {
			@apply border-primary border-2 bg-white;
			z-index: 10;

			position: absolute;
			transition: all 0.5s ease-in-out;
			right: -40px;
			height: 100px;
			top: 100%;
			text-align: center;
			width: 150px;
			display: none;
			padding: 0;
			z-index: 100;
			border-radius: 10px;

			a {
				@apply text-black;
			}

			li {
				@apply mt-2 bg-primary text-white;
				width: 100px;

				margin: auto;
			}
		}
	}
}
