.container {
	@apply relative;
	margin: 0 auto;
	display: block;

	min-height: 100vh;

	> div:first-child {
		@apply p-0;
	}

	.layout {
		@apply relative py-6;

		.filter {
			max-width: 1175px;
			margin: 0 auto;
			display: block;
		}
	}
}
