.post {
	.wrapper {
		max-width: 1099px;
		margin: auto;
		.header {
			@apply mt-5;
		}
		.main {
			@apply flex items-center justify-start gap-10 mt-5;

			.card {
				@apply flex flex-col gap-7;

				.title {
					@apply flex items-center gap-3;

					.name {
						@apply font-bold;
					}
				}
				.work {
					@apply flex items-center gap-3;
					.name {
						@apply font-bold;
					}
				}
				.middle_price {
					@apply flex items-center gap-3;
					.name {
						@apply font-bold;
					}
				}
				.phone {
					@apply flex items-center gap-3;
					.name {
						@apply font-bold;
					}
				}
				.categories {
					@apply flex items-center gap-3;
					.edu {
						@apply flex items-center gap-4;
					}
					.name {
						@apply font-bold;
					}
				}
			}

			.data {
				@apply flex flex-col justify-between;
				height: 250px;
				> div {
					@apply flex items-center justify-between;

					.name {
						@apply mr-16;
					}
				}
			}
		}
		.description {
			// @apply mt-5 p-5 rounded-2xl flex;
			// border: 1px solid black;
			// background-color: #fff;
			@apply mt-8;

			ul {
				@apply flex items-center justify-start  flex-wrap;
				width: 70%;
				list-style: none;

				.category_title {
					flex: 0 0 calc(20% - 10px);
					transition: all 0.4s ease;
					@apply flex justify-center items-center cursor-pointer  bg-ocean p-4 text-black m-5;

					&:hover {
						opacity: 0.7;
					}

					li {
						padding: 0 10px;
					}

					.active {
						@apply bg-primary;
					}
				}
			}
		}
	}
}
