.header {
	@apply px-5 flex items-center justify-between;

	margin-bottom: 20px;
	height: 80px;
	background: #5a6199;

	// border: 1px solid black;
	.logo {
		@apply text-white font-semibold text-3xl;
	}
	.second_part {
		width: 65%;
		@apply flex items-center justify-between;
		button {
			@apply ml-10;
		}

		> div {
			@apply flex items-center justify-between;
		}
	}
}
