.filter_container {
	@apply flex items-center justify-start;
	button {
		flex: 0 0 calc(20% - 10px);
		transition: all 0.4s ease;

		@apply flex justify-center items-center cursor-pointer  bg-ocean p-4 text-black m-5;

		span {
			padding: 0 10px;
		}

		.active {
			@apply bg-primary text-white;
		}
	}
}
